.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin: 100px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.cart-container{
    border-right: 2px dashed;
    padding: 20px;
    text-align: left;
}
.cart-img{
    width: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.my-btn{
    margin: 10px;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    border: 1px dashed;
    cursor: pointer;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 20px;
}
.my-btn:hover{
    background-color: rgb(238, 102, 102);
    color: white;
}
.cart-div{
    display: flex;
    align-items: center;
}
.cart-item{
    color: #A12E46;
    font-weight: 19px;
    font-weight: 500;
    /* border: 1px solid; */
}
.random-item{
    border: 2px dashed;
    padding: 10px;
    font-size: 22px;
    border-radius: 10px;
}



@media (max-width: 575.98px) {
    .shop-container{
        display: block;
    }
    .products-container{
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr ;
        gap: 0;
    }
    .cart-container{
        margin-top: 100px;
        display: block;
    }
}